dataset/
wandb/
*.pyc
.DS_Store
model/esm/ckpt/
model/__pycache__/
*__pycache__*
*.cif
*.pdb
results/
.vscode/launch.json
*.err
*.out
*.png
*slurm
ligand_mpnn_sets/*
cleaned_unique_tokens.txt
out/
.vscode/
notebooks.ipynb
test/test_sidechain_packing.py
chai_lab/
chai_weight/
chai_weight.tar.gz
__PIPPack/*
data/cluster/mmseqs/*
*.log
*.csv
results/
finetuning_data/
Finetune_data_1/
PIPPack/model_weights/
# Large data/model files
*.csv
*.pt
*.log
results/
finetuning_data/
Finetune_data_1/
PIPPack/model_weights/
tmp/
pMT/